.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.ava {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.textArea {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 450px;
    height: 150px;
    margin-left: 20px;
}

.nameMessageArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.countruCityArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    width: 70px;
    color: green;
}