
.appWrapper{
  margin: 0 auto;
  width: 1250px;
  display: grid;
  /*justify-items: center;*/
  grid-template-areas:
          "header header header"
          "nav main main";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 8fr;
  grid-gap: 20px;
  /*grid-template-columns: auto;*/
}

.main {
  grid-area: main;
  background-color: chartreuse;
}
.main img{
  width: 200px;
  height: 100px;
}




